package filters

import "%PACKAGE%"

func Filter[T Filterable](callable func(*%pkg%.Client, T), operands FilterOperand) func(*%pkg%.Client, T) {
	return func(client *%pkg%.Client, update T) {
		if operands(filterableData(client, update)) {
			callable(client, update)
		}
	}
}