package %pkg%

import (
    "%PACKAGE%/types"
	rawTypes "%PACKAGE%/types/raw"
	"net/http"
	"time"
)

type Client struct {
	PollingTimeout      time.Duration
	BotApiConfig        Config
	Token               string
	NoUpdates           bool
	DownloadRefreshRate time.Duration
	me                  *types.User
	apiURL              string
	isRunning           bool
	client              *http.Client
	handlers            map[string][]any
	lastUpdateID        int
	waitStart           chan bool
	requestsContext     []rawTypes.CancelableContext
}
